body {
  background-color: #f2f2f2;
}

.jumbotron {
  background-color: #34495e;
  color: white;
}

.navbar {
  background-color: #34495e;
  color: #000000;
  font-weight: bold;
}

.navbar a {
  color: white;
}

.card {
  background-color: white;
}

.card-title {
  color: #34495e;
}

.card-text {
  color: #7f8c8d;
}
.bold {
	font-weight: bold;
}
