body {
  background-color: #000011;
}

.jumbotron {
  background-color: #34495e;
  color: white;
}

.navbar {
  background-color: #34495e;
  color: #000000;
  font-weight: itallic;
  font-weight: bold;
}

.navbar a {
  color: white;
}

.card {
  background-color: #a59ead;
}

.card-title {
  color: #7605f7;
}

.card-text {
  color: #ffffff;
}

.card-text1 {
  color: #ffffff;
}
.bold {
	font-weight: bold;
}
.image-left {
	float: left;
	}
	
.container	{
    	background-color: #483d54;
    	color: white;
    	font-size: 18px;
    }
    
.center {
  
  display: flex;
  align-items: center;
  justify-content: center;
   

}
